@font-face {
    font-family: Handlee;
    src: url('../fonts/Handlee-Regular.ttf');
}

html, body {
    height: 100%;
    background: white;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

#output-container {
    display: none;
}

#output {
    padding: 0;
}

#output img {
    width: 100%;
}

#output-container > .row > .progress {
    padding: 0;
}

#output-container > .row {
    margin-bottom: 20px;
}

#output-container span.result {
    position: absolute;
    display: block;
    font-family: Handlee;
    font-size: 1em;
}

/*Button*/
#btn-container {
    margin: 3em auto;
}

#btn-container a {
    display: inline-block;
    width: 30%;
    padding: 0;
}

#btn-container a, #btn-container label.btn {
    margin: 0 0.5%;
}

#btn-container label.btn {
    text-transform: none;
    font-weight: 100;
    box-sizing: content-box;
    width: 25%;
    line-height: 2em;
    font-size: 2.5em;
    padding: 5px 20px;
}

#btn-container a > img {
    width: 100%;
}



