@font-face {
    font-family: Handlee;
    src: url('../fonts/Handlee-Regular.ttf');
}

html, body {
    height: 100%;
}

body > div.container {
    height: 100%;
    margin: 0 auto;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#output-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#output {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

span.result {
    position: absolute;
    display: block;
    font-family: Handlee;
    font-size: 1em;
}

